numpy==1.24.3
cloudpickle==3.1.0
gym==0.26.2
gym-notices==0.0.8
gym-retro==0.8.0
importlib_metadata==8.5.0
opencv-python==4.10.0.84
pygame==2.6.1
pyglet==1.5.29
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
six==1.16.0
zipp==3.20.2
pillow==10.4.0
